.idea/
/experiments/set_vector_search.cpython-39-x86_64-linux-gnu.so
/cmake-build-debug/
*.so
/experiments/BruteForce.cpython-39-x86_64-linux-gnu.so
/experiments/glove-200-angular.hdf5
/build/
!/build/evaluation.py
*.jpg
__pycache__/
*.py[cod]
/Dataset/
/baseline/ColBERT/result/
/baseline/Dessert/result/
*.log
/script/data/out.log
cmake-build-debug-wsl
cmake-build-release-wsl
/baseline/Dessert/deps
/obsolete/lccs-lsh/build
/obsolete/lccs-lsh/cmake-build-debug
/graph_based_method/efanna_graph/build
/graph_based_method/efanna_graph/cmake-build-debug
/graph_based_method/nsg/build
/graph_based_method/nsg/cmake-build-debug
/baseline_end2end/bm25/*.txt
/script/insight/nra_estimation_top_score_correlation/*.txt
/script/insight/scalar_quantization_in_item/*.txt
/baseline/emvb/build/
/script/paper_insight/vq_distribution/query_vq_index/
/script/evaluation/logs/
/baseline/muvera-py/.locks
/baseline/muvera-py/models--raphaelsty--neural-cherche-colbert
/script/plot/time_accuracy_curve/compare/compare_default_setting/NsightComputeProfile/
*.nsys-rep
*.sqlite
*.ncu-rep
